Flask==3.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
Werkzeug==3.0.1
scikit-learn
pandas
numpy
absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
flatbuffers
gast
google-pasta
grpcio
h5py
joblib
keras
libclang
markdown-it-py
mdurl
ml-dtypes
namex
opt-einsum
optree
protobuf
Pygments
python-dateutil.post
pytz
requests
rich
scikit-learn.post
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolct
typing_extensions
tzdata
urllib
wrapt




